In [2]:
toplam_gozlem_degerleri = 9 + 10 + 11 + 8 + 12
toplam_gozlem_sayisi = 5
print(int(toplam_gozlem_degerleri / toplam_gozlem_sayisi))

10

In [6]:
import pandas as pd
df = pd.DataFrame({'Xi':[2,4,5,7],
                   'fi':[3,2,1,4],
                  })
df

   Xi  fi
0   2   3
1   4   2
2   5   1
3   7   4

In [10]:
df['fiXi'] = df.Xi*df.fi
df

   Xi  fi  fiXi
0   2   3     6
1   4   2     8
2   5   1     5
3   7   4    28

In [16]:
frekanslarin_toplami = df.fi.sum()
fiXi_toplamlari = df.fiXi.sum()
print("Frekansların Toplamları :",frekanslarin_toplami)
print("Değerlerin Kendi Frekansları İle Çarpıldıktan Sonraki Toplam:",fiXi_toplamlari)
print("Sonuç : {}".format(fiXi_toplamlari / frekanslarin_toplami ))

Frekansların Toplamları : 10
Değerlerin Kendi Frekansları İle Çarpıldıktan Sonraki Toplam: 47
Sonuç : 4.7

In [17]:
df = pd.DataFrame({
    'Katılım Sayısı':["0-2'den az","2-4'den az","4-6'dan az","6-8'den az","8-10'den az"],
    'fi' : [3,5,6,2,4]             
                  })
df

  Katılım Sayısı  fi
0     0-2'den az   3
1     2-4'den az   5
2     4-6'dan az   6
3     6-8'den az   2
4    8-10'den az   4

In [21]:
df['Xi'] = [1,3,5,7,9]
df

  Katılım Sayısı  fi  Xi
0     0-2'den az   3   1
1     2-4'den az   5   3
2     4-6'dan az   6   5
3     6-8'den az   2   7
4    8-10'den az   4   9

In [22]:
df['fiXi'] = df.fi*df.Xi
df

  Katılım Sayısı  fi  Xi  fiXi
0     0-2'den az   3   1     3
1     2-4'den az   5   3    15
2     4-6'dan az   6   5    30
3     6-8'den az   2   7    14
4    8-10'den az   4   9    36

In [23]:
print("Sonuc : {}" .format(df.fiXi.sum() / df.fi.sum()))

Sonuc : 4.9

In [25]:
turkce_kredi = 5
mat_kredi = 4
ing_kredi = 3
turkce_not = 85
mat_not = 70
ing_not = 60
toplam_kredi = turkce_kredi + mat_kredi + ing_kredi
print(((turkce_kredi * turkce_not) + (mat_kredi * mat_not) + (ing_kredi * ing_not)) / toplam_kredi)

73.75

In [26]:
(85 + 70 + 60) / 3

71.66666666666667

In [29]:
round(1 / (((1/4) + (1/8) + (1/16)) / 3),2)

6.86

In [31]:
df = pd.DataFrame({
    'Xi' : [2,4,7,8]
})
df

   Xi
0   2
1   4
2   7
3   8

In [32]:
df['Xi_kare'] = df.Xi ** 2
df

   Xi  Xi_kare
0   2        4
1   4       16
2   7       49
3   8       64

In [33]:
df.Xi_kare.sum()

133

In [39]:
from math import sqrt
round(sqrt(133 / 4),2)

5.77